spring:
  profiles:
    active: dev
    
--- 

spring:
  profiles: dev
  application:
    name: microservice-configclient
    
coontent: hello dev v6
    
server:
  port:8201
  
eureka:
  client:
    service-uri:
      defaultZone: http://eureka-dev.com:7001/eureka/
      
---

spring:
  profiles: test
  application:
    name: microservice-configclient
    
coontent: hello test v6

server:
  port:8202
  
eureka:
  client:
    service-uri:
      defaultZone: http://eureka-test.com:7001/eureka/